@font-face {
  font-family: 'fnt';
  src: url(fonts/375CDE_B_0.eot);
  src: url(fonts/375CDE_B_0.eot?#iefix) format("embedded-opentype"), url(fonts/375CDE_B_0.woff2) format("woff2"), url(fonts/375CDE_B_0.woff) format("woff"); }

html {
  overflow-x: hidden; }

html,
body,
#root {
  margin: 0;
  padding: 0; }

body {
  font-family: 'RobotoRegular';
  background-color: #FFFFFF;
  color: #000000; }

.fixed {
  position: fixed;
  top: 0;
  left: 0; }

.friend {
  font-family: "fnt";
  font-weight: normal;
  position: absolute;
  left: 17.91667vw;
  top: 1.09375vw;
  width: 57.44792vw;
  height: 12.44792vw;
  line-height: 1.92708vw;
  font-size: 1.77083vw; }

.sto {
  background-image: url(img/sto.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 2.28698vw;
  top: 11.59323vw;
  width: 40.21979vw;
  height: 17.50677vw; }

.logo-im {
  background-image: url(img/logo_im.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 83.21563vw;
  top: 21.00052vw;
  width: 7.07344vw;
  height: 6.86354vw; }

.plus {
  background-image: url(img/plus.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 84.23125vw;
  top: 29.69531vw;
  width: 5.0776vw;
  height: 4.96823vw; }

.logo-dc {
  background-image: url(img/logo_dc.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 83.03802vw;
  top: 36.01146vw;
  width: 7.73125vw;
  height: 7.72552vw; }
  .logo-dc:hover {
    background-image: url(img/logo_dc_hover.svg);
    cursor: pointer; }

.scroll-container {
  width: 100%; }

.img01 {
  position: absolute;
  left: 47.8125vw;
  top: 23.95833vw;
  width: 21.875vw;
  height: 21.875vw; }

.img02 {
  position: absolute;
  left: 2.19531vw;
  top: 36.79375vw;
  width: 21.875vw;
  height: 21.875vw; }

.img03 {
  position: absolute;
  left: 22.63021vw;
  top: 40.15625vw;
  width: 21.875vw;
  height: 21.875vw; }

.img04 {
  position: absolute;
  left: 64.28385vw;
  top: 52.59479vw;
  width: 21.875vw;
  height: 21.875vw; }

.img05 {
  position: absolute;
  left: 36.53229vw;
  top: 66.49635vw;
  width: 21.875vw;
  height: 21.875vw; }

.img06 {
  position: absolute;
  left: 9.51198vw;
  top: 74.54531vw;
  width: 21.875vw;
  height: 21.875vw; }

.img07 {
  position: absolute;
  left: 75.99062vw;
  top: 78.20365vw;
  width: 21.875vw;
  height: 21.875vw; }

.img08 {
  position: absolute;
  left: 51.84531vw;
  top: 81.13021vw;
  width: 21.875vw;
  height: 21.875vw; }

.img09 {
  position: absolute;
  left: 1.46354vw;
  top: 97.95885vw;
  width: 21.875vw;
  height: 21.875vw; }

.img10 {
  position: absolute;
  left: 56.23542vw;
  top: 108.2026vw;
  width: 21.875vw;
  height: 21.875vw; }

.img11 {
  position: absolute;
  left: 29.2151vw;
  top: 109.66615vw;
  width: 21.875vw;
  height: 21.875vw; }

.img12 {
  position: absolute;
  left: 76.7224vw;
  top: 114.05625vw;
  width: 21.875vw;
  height: 21.875vw; }

.img13 {
  position: absolute;
  left: 48.18698vw;
  top: 135.275vw;
  width: 21.875vw;
  height: 21.875vw; }

.img14 {
  position: absolute;
  left: 5.85365vw;
  top: 136.73802vw;
  width: 21.875vw;
  height: 21.875vw; }

.img15 {
  position: absolute;
  left: 72.48802vw;
  top: 151.37187vw;
  width: 21.875vw;
  height: 21.875vw; }

.img16 {
  position: absolute;
  left: 35.48854vw;
  top: 157.13542vw;
  width: 21.875vw;
  height: 21.875vw; }

/*# sourceMappingURL=style.css.map*/